{{! Use the main layout }}
{{!< main }}
<div class="login-container">
	<section class="login-register">
		<section class = "login-area">
			<h2>LOG IN WITH GOOGLE</h2>
			<!-- Error handling -->
			{{#if loginError}}
				<p style="color: red;">{{loginError}}</p>
			{{/if}}
			<!-- Login form -->
			<form id="login" action="/login" method="POST">
				<button type="submit">LOG IN</button>
			</form>
		</section>
	</section>
</div>