{{! Use the main layout }}
{{!< main }}
<div class="login-container">
	<section class="login-register">
		<section class = "login-area">
			<h2>LOG IN WITH ACCOUNT NAME</h2>
			<!-- Error handling -->
			{{#if loginError}}
				<p style="color: red;">{{loginError}}</p>
			{{/if}}
			<!-- Login form -->
			<form id="login" action="/login" method="POST">
				<input type="text" name="username" id="loginUserName">
				<button type="submit">LOGIN</button>
			</form>
		</section>
		<section class = "register-area">
			<h2>REGISTER A NEW ACCOUNT</h2>
			<!-- Error handling -->
			{{#if regError}}
				<p style="color: red;">{{regError}}</p>
			{{/if}}
			<!-- Register form -->
			<form id="register" action="/register" method="POST">
				<input type="text" name="username" id="registerUserName">
				<button type="submit">REGISTER</button>
			</form>
		</section>
	</section>
</div>