{{!< main }}

<div class="login-container">
    <section class="login-register">
		<section class = "register-area">
			<h2>REGISTER A NEW ACCOUNT</h2>
			<!-- Error handling -->
			{{#if usernameError}}
				<p style="color: red;">{{usernameError}}</p>
			{{/if}}
			<!-- Register form -->
			<form id="register" action="/registerUsername" method="POST">
				<input type="text" name="username" id="registerUserName">
				<button type="submit">REGISTER</button>
			</form>
		</section>
	</section>
</div>