@font-face { font-family: 'MotivaSansBlack'; src: url('resources/fonts/MotivaSansBlack.ttf'); }
@font-face { font-family: 'MotivaSansBold'; src: url('resources/fonts/MotivaSansBold.ttf'); }
@font-face { font-family: 'MotivaSansExtraBold'; src: url('resources/fonts/MotivaSansExtraBold.ttf'); }
@font-face { font-family: 'MotivaSansLight'; src: url('resources/fonts/MotivaSansLight.ttf'); }
@font-face { font-family: 'MotivaSansMedium'; src: url('resources/fonts/MotivaSansMedium.ttf'); }
@font-face { font-family: 'MotivaSansRegular'; src: url('resources/fonts/MotivaSansRegular.ttf'); }
@font-face { font-family: 'MotivaSansThin'; src: url('resources/fonts/MotivaSansThin.ttf'); }

/* ================================ GENERAL ================================ */
html body {
    background-color: #171D25; /* Matches the header color */
    margin: 0;
    font-family: 'MotivaSansRegular', Arial, Helvetica, sans-serif;
    background: radial-gradient(circle, #143241, #1B2838);
    background-color: #182C3B;
}

/* ================================ NAVBAR ================================ */

header {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #171D25;
	color: #C5C3C0;
	padding: 11px;
	text-align: center;
	gap: 25px;
	flex-shrink: 1;
}

@media (max-width: 560px) {
	header {
		flex-direction: column;
		gap: 0px;
	}
}
header .logo {
	font-family: 'MotivaSansBlack', Arial, Helvetica, sans-serif;
}
ul {
	list-style-type: none;
	padding-left: 0;
}
ul li {
	display: inline-block;
	margin-right: 10px;
}
ul li a {
	color: inherit;
	text-decoration: none;
	list-style-type: none;
	list-style: none;
	text-transform: uppercase;
	font-family: 'MotivaSansMedium', Arial, Helvetica, sans-serif;
}
header .profile-picture {
	width: 50px;
	height: 50px;
	border-radius: 10%;
	border-width: 2px;
	border-style: solid;
	border-color: #D3D4D5;
	overflow: hidden;
	vertical-align: middle;
}
/* ================================ POSTS ================================ */
.content-container {
	padding-bottom: 20px;
	padding-inline: 20px;
}
.post, form {
	display: flex;
	flex-direction: column;
	background-color: #0D131B;
	border-radius: 8px;
	padding: 10px;
	max-width: 925px;
	position: relative;
	margin: 20px auto;
	z-index: 2;
}

.post-header {
	display: flex;
	flex-direction: row;
	gap: 15px;
	align-items: center;
}
.post-content h1 {
	font-size: 20px;
}
.post-content p, .post-content h1 {
	margin-block: 0;
	color: #D3D4D5;
	word-wrap: break-word;
	white-space: pre-wrap;
}
.post-body {
	display: flex;
	flex-direction: col;

}
.post-footer {
	display: flex;
	justify-content: space-between;
	gap: 0px;
	min-width: 200px;
}
.post-header .profile-picture {
	width: 40px;
	height: 40px;
	border-radius: 10%;
	border-width: 2px;
	border-style: solid;
	border-color: #D3D4D5;
	overflow: hidden;
}
.post-avatar {
	/* position: absolute; */
	bottom: 10px;
	left: 10px;
	display: flex;
	align-items:end;
	gap: 10px;
}
.post-avatar span {
	font-size: 12px;
	color: #999;
	margin-left: auto;
}
.posts-list ul {
	list-style-type: none;
	padding-left: 0;
}
.posts-list h1 {
	font-size: 20px;
	margin-top: 0;
	color: #D3D4D5;
	word-wrap: break-word;
	white-space: pre-wrap;
}
.post-status-bar {
	display: flex;
	flex-direction: right;
	align-items: center;
	gap: 10px;
}
.post-status-bar button {
	position: relative;
	display: inline-block;
	color: #e74c3c;
	font-size: 20px;
	cursor: pointer;
	background-color: #0D131B;
	border-radius: 8px;
}
.post-status-bar span {
	font-size: 12px;
	color: #999;
	margin-left: auto;
}
.post-content {
	display: flex;
	flex-direction: column;
	position: relative;
	gap: 10px;
	margin-bottom: 10px;
}
.post-image {
	max-height: 300px;
	object-fit: contain;
	background-color: black;
	border-radius: 10px;
}
.noPosts {
	color: #D3D4D5;

}
/* ================================ USER-POSTS ================================ */
.user-posts h2 {
	text-align: center;
	color:#C5C3C0;
	font-weight: bold;
	font-family: 'MotivaSansMedium', Arial, Helvetica, sans-serif;
}
.user-posts > p, .posts-list > p {
	text-align:center;
	color: #C5C3C0;
}

/* ================================ USER FORM ================================ */
.post-form {
	width: 100%;
	max-width: 700px;
	display: flex;
	flex-direction: column;
	background-color: #0D131B;
	color: #C5C3C0;
	border-radius: 8px;
	height: fit-content;
	margin: 20px auto;
}
.post-form form {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: start;
	gap: 10px;
	margin: 20px;
}
#profile-container {
	margin-inline: auto;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 10px;
	width: 100%;
	color: #C5C3C0;
}

#profile-screen {
	padding: 20px;
}
#content-container > .profile-picture {
	border-radius: 10%;
	border-width: 2px;
	width: 50px;
	height: 50px;
	border-style: solid;
	border-color: #D3D4D5;
	overflow: hidden;
	align-self: center;
}
#profile-container > form > .profile-picture {
	border-radius: 10%;
	border-width: 2px;
	width: 200px;
	height: 200px;
	border-style: solid;
	border-color: #D3D4D5;
	overflow: hidden;
	align-self: center;
}
#profile-container h1, #profile-container h2 {
	margin: 0;
}
#profile-container button {
	margin-bottom: 10px;
}
#profile-info {
	display: flex;
	flex-direction: column;
}
#profile-info p {
	margin: 5px;
}
#profile-info div {
	margin: 5px;
	display: flex;
	flex-direction:row;
}
.post-form .profile-picture {
	width: 50px;
	height: 50px;
	border-radius: 10%;
	border-width: 2px;
	border-style: solid;
	border-color: #D3D4D5;
	overflow: hidden;
}
.post-form #emoji-button, #tag-button, .fileLabel {
	position: relative;
	display: inline-block;
	color: #bebebe;
	font-size: 20px;
	cursor: pointer;
	background-color: #0D131B;
	border-radius: 8px;
	font-size: 18px;
	font-family: 'MotivaSansRegular', Arial, Helvetica, sans-serif;
}
.post-form #emoji-button {
	font-family: Arial, Helvetica, sans-serif;
}

/* ================================ USER FORM ================================ */


#input-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 100%;
	height: 100%;
}

.post-form input[name="title"], .post-form textarea[name="content"] {
	margin: 0;
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
	background-color: #2C3E50;
	color: #ecf0f1;
	border: 1px solid #34495e;
	border-radius: 4px;
	font-size: 16px;
	font-family: 'MotivaSansRegular', Arial, Helvetica, sans-serif;
}

.post-form textarea[name="content"] {
	height: 100%;
	min-height: 100px;
	text-overflow: clip;
	font-size: 15px;
}
.post-form #form-actions {
	grid-column: 1 / -1;

}
#tag-grid {
	padding-inline: 30px;
	padding-bottom: 30px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px;
}
.tag {
	background: linear-gradient(to right, #FF6347, #ba3b25);
	width: fit-content;
	border-radius: 10px;
	padding: 5px;
	font-size: 12px;
}
#chosenTag {
	width: fit-content;
	margin: 0;
}

/* ================================ FILTERING ================================ */

#sortFilterForm {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	max-width: 500px;
	align-items: center;
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 5px;
}
#sortFilterForm div {
	display: flex;
	align-items: center;
	margin: 0 10px;
}
#sortFilterForm label {
	margin-bottom: 5px;
	color: #ECF0F1;
}
#sortFilterForm select {
	padding: 5px;
	background-color: #34495E;
	color: #ECF0F1;
	border: none;
	border-radius: 5px;
	transition: background-color 0.3s ease, transform 0.3s ease;
	width: 150px;
}
#sortFilterForm select:hover {
	background-color: #34495E;
}
#sortFilterForm select:focus {
	outline: none;
	background-color: #34495E;
}
#sortFilterForm > div > select {
	font-family: 'MotivaSansRegular', Arial, Helvetica, sans-serif;
}

/* ================================ EMOJI STUFF ================================ */
#emoji-container {
	padding: 20px;
}

/* ================================ FOOTER ================================ */
footer p {
	z-index: 0;
	position: fixed;
	font-size: 13px;
	color:#C5C3C0;
	left: 10px;
	bottom: 0;
}

/* ============================= LOGIN/REGISTER ============================= */
.login-container {
	padding-inline: 20px;
	padding-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.login-register {
	width: 100%;
	padding: 20px;
	display: flex;
	/* position: absolute; */
	flex-direction: column;
	background-color: #0D131B;
	color:#C5C3C0;
	border-radius: 8px;
	max-width: 600px;
	height: fit-content;
	/* top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); */
}
.login-area, .register-area {
	margin: 20px;
	margin-top: 0px;
}

input[type="text"] {
	width: 100%;
	padding: 10px;
	margin: 10px 0;
	margin-top: 0px;
	box-sizing: border-box;
	background-color: #2C3E50;
	color: #ecf0f1;
	border: 1px solid #34495e;
	border-radius: 4px;
	font-size: 16px;
	font-family: 'MotivaSansThin', Arial, Helvetica, sans-serif;
}
input[type="file"] {
	width: 50px;
}
button[type="submit"] {
	width: 100%;
	padding: 10px;
	background: linear-gradient(to right, #FF6347, #ba3b25);
	border: none;
	border-radius: 4px;
	color: white;
	font-size: 16px;
	cursor: pointer;
	font-family: 'MotivaSansThin', Arial, Helvetica, sans-serif;
}
button[type="submit"]:hover {
	background: linear-gradient(to right, #ff8772, #ba3b25);
}
.login-area h2, .register-area h2 {
	margin-left: 8px;
	text-align: center;
	font-family: 'MotivaSansThin', Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #FF6347;
}
.login-area p, .register-area p{
	margin-left: 8px;
}

/* ============================ RESPONSIVENESS ============================= */
@media (max-width: 560px) {
	footer p {
		display: none;
	}
	header .profile-picture
	{
		display: none;
	}
	.logo h1 {
		font-size: 4.5vw;
	}
	#profile-container {
		flex-direction: column;
	}
	#sortFilterForm {
		flex-direction: column;
		max-width: 150px;
	}
}